/* github dark theme */
.codexplain-modal {
  position: fixed;
  background-color: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  backdrop-filter: blur(30px);
  z-index: 9999;
  padding: 10px;
  max-width: 700px;
}
